<script type="text/javascript">
  function kontakti_sifrant_initialize()
  {
    changeVrsta();
  }

  function changeVrsta()
  {
    var vrsta = $("#kontakt_vrsta").attr("value");
    if(vrsta == 1)
    {
      $("tr#naziv").show();
      $("tr#ime,tr#prezime").hide();
    }
    else if(vrsta == 2 )
    {
      $("tr#naziv").hide();
      $("tr#ime,tr#prezime").show();
    }
    else if(vrsta == 4)
    {
      $("tr#naziv").show();
      $("tr#ime,tr#prezime").show();
    }
  }
</script>
<% form_for(@kontakt) do |f| %>
<%= f.error_messages %>
  <table>
      <tr>
        <td>Vrsta:</td>
        <td><%= f.select :vrsta, [["Pravna osoba", 1], ["Fizička osoba", 2],  ["Obrtnik", 4]], {}, :onChange => 'changeVrsta()' %></td>
      </tr>
      <tr>
        <td>Oib:</td>
        <td><%= f.text_field :oib %></td>
      </tr>
      <tr>
        <td>Matični broj:</td>
        <td><%= f.text_field :maticni_broj %>
      </tr>
      <tr id="ime" <%= "style='display:none" if(@kontakt.vrsta == 1) %>>
        <td>Ime:</td>
        <td><%= f.text_field :ime %></td>
      </tr>
      <tr id="prezime">
        <td>Prezime:</td>
        <td><%= f.text_field :prezime %></td>
      </tr>
      <tr id="naziv">
        <td>Naziv:</td>
        <td><%= f.text_field :naziv %>
      </tr>
  </table>
<% end %>


